   input[type="radio"]:checked {
     box-shadow: 0 0 0 3px red;
   }
   .card-custom  {
  margin-top: 40px;
  margin-right: 20px;
  width: 45rem;
  margin-bottom: 20px;
  }
  .my-radioitems {
    display: flex;
    margin: 15px;
}
.row-with-markdown .app-markdown {
    padding: 30px;
    font-size: 16px;
    font-family: "Calibri Light" sans-serif;
}
.features-title {
    padding: 10px;
    margin-bottom: 3pt;
    font-weight: bold;
    font-size: 15px
}